body {
    background: linear-gradient(to bottom, white, #949494);
    height: 100vh;
    margin: 0;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    margin: 10px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
    cursor:pointer;
}

p {
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.login {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}

.register {
    padding: 10px 27px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-58%);
    top: 210px;
}

.p {
    margin-top: 70px;
}

.login:hover {
    background-color: #949494;
}

.register:hover {
    background-color: #333;
    color: white;
}
